/* Fonts
font-family: 'Dancing Script', cursive;
font-family: 'Dawning of a New Day', cursive; */

body {
    margin: 20 px auto;
    font-family: 'Lato';
    background: rgb(0, 0, 0);
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

x-sign {
    --interval: 1s;
    display: block;
    text-shadow: 0 0 5px var(--color1), 0 0 10px var(--color2), 0 0 15px var(--color3), 0 0 20px var(--color4);
    will-change: filter, color;
    filter: saturate(150%);
    animation: flicker steps(50) var(--interval) 1s infinite;
    color: lightpink;
    --color1: pink;
    --color2: orangered;
    --color3: red;
    --color4: magenta;
    font-family: 'Bad Script', cursive;
    font-size: 1.5cm;
}

.center-container {
    position: relative;
    width: 100%;
}

.main-container {
    position: relative;
    width: 100%;
    height: 100%;
    background: none;
    margin-top: 1em;
    font-family: 'Dancing Script', cursive;
    font-size: 0.7cm;
    color: rgb(13, 185, 228);
}

.main-container p {
    color: rgb(255, 255, 255);
    font-size: 0.9cm;
}

.card-portrait {
    position: relative;
    width: 182px;
    height: 274px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    box-shadow: 5px 5px 7px rgba(248, 245, 245, 0.7);
    z-index: 10;
}

.card-landscape {
    position: relative;
    z-index: 10;
    width: 232px;
    height: 224px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    box-shadow: 5px 5px 7px rgba(248, 245, 245, 0.7);
}

.card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: white;
    text-align: center;
    color: black;
}

.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: white;
    text-align: center;
    transform: rotateY(180deg);
    color: blue;
    font-family: 'Dancing Script', cursive;
    font-size: larger;
}

.flipCard {
    transform: rotateY(180deg);
}

.polaroid-portrait {
    background-color: #fff;
    padding: 1em;
}

.polaroid-landscape {
    background-color: #fff;
    padding: 1em;
}

.caption {
    font-size: 1.5em;
    text-align: center;
    font-family: 'Dawning of a New Day', cursive;
    height: 50px;
}

.item {
    display: inline-block;
    margin: 16px 16px 8px 16px;
    cursor: move;
}

.lista {
    position: absolute;
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-left: 1em;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    height: auto;
}

.conteudo {
    line-height: 1.5;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Indie Flower', cursive;
    color: #000;
    background: #ffc;
    display: inline-block;
    vertical-align: middle;
    padding: 0.5em;
    font-size: small;
    height: 7em;
    width: 12em;
    margin: 1em 1em 1em 1em;
    box-shadow: 5px 5px 7px rgba(248, 245, 245, 0.7);
    transition: transform .15s linear;
}

.conteudo:hover,
.conteudo:focus {
    box-shadow: 5px 5px 7px rgba(248, 245, 245, 0.7);
    transform: scale(1.10);
    position: relative;
    z-index: 5;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    max-height: 60px;
    box-shadow: 0 0 16px 2px rgba(228, 225, 225, 0.7);
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    margin-top: 5px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}